<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Change Password</title>
</head>

<body class="ml-6 mr-6">
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <!-- Your site logo or name here -->
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <!-- Add more navigation links as needed -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <th:block th:if="${sessionUser == null}">
                            <a class="button is-primary" th:href="@{/login}">Login</a>
                            <a class="button is-primary is-light" th:href="@{/register}">Sign up</a>
                        </th:block>
                        <a class="button is-link" th:href="@{/profile}">Profile</a>
                        <form th:if="${sessionUser != null}" method="post" action="@{/logout}">
                            <button class="button is-danger" type="submit">Logout</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<h1 class="title">Change Password</h1>

<form class="box" th:action="@{/change-password}" th:object="${changePassword}" method="post">
    <div class="field">
        <label class="label">Current password:</label>
        <input class="input" type="password" th:field="*{currentPassword}"><br/>
        <p class="is-size-6 has-text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></p>
    </div>
    <div class="field">
        <label class="label">Password: </label>
        <input class="input" type="password" th:field="*{newPassword1}"><br/>
        <p class="is-size-6 has-text-danger" th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}"></p>
    </div>
    <div class="field">
        <label class="label">Password repeat: </label>
        <input class="input" type="password" th:field="*{newPassword2}"><br/>
        <p class="is-size-6 has-text-danger" th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}"></p>
    </div>
        <button class="button is-primary" type="submit">Change password</button>
</form>
</body>
</html>