<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>

<form th:action="@{/change-password}" th:object="${changePassword}" method="post">
    current password: <input type="password" th:field="*{currentPassword}"><br/>
    <p th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></p>
    Password: <input type="password" th:field="*{newPassword1}"><br/>
    <p th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}"></p>
    Password repeat: <input type="password" th:field="*{newPassword2}"><br/>
    <p th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}"></p>
    <button type="submit">Change password</button>
</form>
</body>
</html>