<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zwitscher</title>
</head>
<body>
<header>
    <nav>
        <th:block th:if="${sessionUser == null}">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Sign up</a>
        </th:block>

        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
            <button type="submit">Logout</button>
        </form>
    </nav>
    <hr>
</header>
    <h1 th:text="${'Welcome, unknown user'}" th:if="${sessionUser == null}"></h1>
    <h1 th:text="${'Welcome, ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>
    <a th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
    <a th:href="@{/register}">Sign up</a>

    <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>

    <hr>
    <p>
        <a th:href="@{/message}" th:if="${sessionUser != null && sessionUser.isAdmin() == true}">Post a Blog Entry</a>
    </p>

    <hr>

<ul>
    <li class="box" th:each="entry : ${blogEntries}">
        <!-- Author -->
        <p><strong>Author:</strong> <span th:text="${entry.blogUser.username}"></span></p>
        <!-- Title -->
        <p><strong>Title:</strong> <span th:text="${entry.title}"></span></p>

        <!-- Content -->
        <p><strong>Content:</strong> <span th:text="${entry.content}"></span></p>

        <!-- Date and Time -->
        <p><strong>Posted at:</strong> Date: <span th:text="${#temporals.format(entry.date, 'yyyy-MM-dd')}"></span> Time: <span th:text="${#temporals.format(entry.date, 'HH:mm:ss')}"></span></p>
        <p th:if="${entry.lastEdited != null}"><strong>Last edited:</strong> Date: <span th:text="${#temporals.format(entry.lastEdited, 'yyyy-MM-dd')}"></span> Time: <span th:text="${#temporals.format(entry.lastEdited, 'HH:mm:ss')}"></span></p>


        <p><a th:href="@{/comment/{id}(id=${entry.id})}">Write a Comment</a></p>
        <p>
            <a th:href="@{/delete/{id}(id=${entry.id})}" th:if="${sessionUser != null && sessionUser.isAdmin() == true}">Delete a Blog Entry</a>
        </p>
        <p>
            <a th:href="@{/edit/{id}(id=${entry.id})}" th:if="${sessionUser != null && sessionUser.isAdmin() == true}">Edit a Blog Entry</a>
        </p>
    </li>
</ul>


<!--<ul>-->
<!--    <li class="box" th:each="entry : ${blogEntries}">-->
<!--        &lt;!&ndash;            <strong th:text="${entry.name}"></strong> - &ndash;&gt;-->
<!--        <p><span th:text="${entry.title}"></span></p>-->
<!--        <p><span th:text="${entry.content}"></span></p>-->
<!--        <p><strong>Posted at:</strong> Date: <span th:text="${#temporals.format(entry.date, 'yyyy-MM-dd')}"></span> Time: <span th:text="${#temporals.format(entry.date, 'HH:mm:ss')}"></span></p>-->

<!--    </li>-->
<!--</ul>-->

<!--    <div th:each="message: ${blogEntries}">-->
<!--        <a th:href="@{/profile/{username}(username=${message.user.username})}">-->
<!--            <strong th:text="${'@' + message.user.username}"></strong>-->
<!--        </a>-->
<!--        <span th:text="${message.text}"></span>-->
<!--    </div>-->
</body>
</html>
